@import '../../../variables.scss';

.grid-card {
  border: 2px solid #eaf7ff;
  background-color: #eaf7ff;
  border-radius: 1em;
  overflow: hidden;
  display: grid;
  grid-template-columns: 15em 1fr;
  grid-template-rows: 6ch 3ch 3ch minmax(5em, auto);
  grid-template-areas:
    "logo title"
    "logo venue"
    "logo date"
    "logo description";
  grid-gap: 1ch;
  margin-bottom: 1em;
}

.grid-logo {
  grid-area: logo;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-title {
  font-size: 23px;
  padding-top: 0.5em;
  grid-area: title;
  color: $blue1;
}

.grid-venue {
  grid-area: venue;
  color: $redA;
}

.grid-date {
  grid-area: date;
  color: $blue2b;
  font-size: 16px;
}

.grid-description {
  padding-bottom: 0.5em;
  grid-area: description;
}


@media (max-width: 1015px) {
  .grid-card {
    grid-template-columns: 1fr;
    grid-template-rows: 15em minmax(6ch, auto) minmax(3ch, auto) 3ch minmax(5em, auto);
    grid-template-areas: "logo"
      "title"
      "venue"
      "date"
      "description";
    grid-gap: 0ch;
  }

  .grid-title,
  .grid-date,
  .grid-venue,
  .grid-description {
    padding-left: 1em;
  }
}
