<div class="title">
  <strong>LANGAGES</strong>
</div>

<div class="flex-container">
  <div>
    <svg height="300" width="100%">
      <circle cx="50%" cy="50%" r="125" />
    </svg>
    <div class="flag-detail">
      <div class="flag flag-icon-fr"></div>
      <div class="flag-name">French</div>
    </div>
  </div>
  <div>
    <svg height="300" width="100%">
      <circle cx="50%" cy="50%" r="125" />
    </svg>
    <div class="flag-detail">
      <div class="flag flag-icon-gb"></div>
      <div class="flag-name">English</div>
    </div>
  </div>
  <div>
    <svg height="300" width="100%">
      <circle cx="50%" cy="50%" r="125" />
    </svg>
    <div class="flag-detail">
      <div class="flag flag-icon-jp"></div>
      <div class="flag-name">Japanese</div>
    </div>
  </div>
  <div>
    <svg height="300" width="100%">
      <circle cx="50%" cy="50%" r="125" />
    </svg>
    <div class="flag-detail">
      <div class="flag flag-icon-kr"></div>
      <div class="flag-name">Korean</div>
    </div>
  </div>
</div>
