<div class="title">
  <strong>LANGUAGES</strong>
</div>

<div class="flex-container">
  <app-langage-achievement
    [flag]="'fr'"
    [name]="'French'"
    [percentage]=100>
  </app-langage-achievement>
  <app-langage-achievement
    [flag]="'gb'"
    [name]="'English'"
    [percentage]=70>
  </app-langage-achievement>
  <app-langage-achievement
    [flag]="'jp'"
    [name]="'Japanese'"
    [percentage]=25>
  </app-langage-achievement>
  <app-langage-achievement
    [flag]="'kr'"
    [name]="'Korean'"
    [percentage]=10>
  </app-langage-achievement>
</div>
