<div>

  <div *ngIf="menu">
    <div class="menu">
      <div class="container-option">
        <span class="fas fa-times fa-2x" (click)="hideMenu()"></span>
      </div>
      <div class="menu__category">
        <div><a target="_blank" rel="noopener noreferrer"
            href="https://otakedev.com/share/resume/Snapshot_resume_Jason_haenlin_2019-11-14.pdf">Download
            PDF</a></div>
        <div><a target="_blank" rel="noopener noreferrer"
            href="https://otakedev.com/jasonhaenlin/">Online Resume</a></div>
      </div>
    </div>
  </div>

  <div class="container-option">
    <span class="fas fa-bars fa-2x" (click)="showMenu()"></span>
  </div>

  <div class="card">
    <div class="card_title">JASON HAENLIN</div>
    <div class="card_occupation">Student at Polytech Nice Sophia. Computer science degree.</div>
    <div class="card_text">
      Hello, my name is Jason Haenlin. Student passionate about electronics, electrical
      engineering
      especially computer science, the points that captivate me the most are object-oriented
      programming,
      web technologies and everything that goes with it like GUI, security, front & back end, I am
      particularly fond of Angular 7+, Nodejs and Flutter.
    </div>
    <div class="card_picture">
      <div class="clip-each border-style-gradient">
      </div>
    </div>
  </div>

  <div *ngIf="displayArrow" class="arrow"></div>
</div>
