<div [@.disabled]="!displayArrow">

  <div class="menu"
    [ngClass]="{'hamburger--spin is-active': menuActive}">
    <button (click)="toggleMenu()" class="hamburger" type="button" aria-label="dropdown">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <div *ngIf="menuActive" class="menu__category">
      <div><a target="_blank" rel="noopener noreferrer"
          href="https://otakedev.com/share/resume/Snapshot_resume_Jason_haenlin_2020-11-04.pdf">Download
          PDF</a></div>
      <div><a target="_blank" rel="noopener noreferrer"
          href="https://otakedev.com/jasonhaenlin/">Online Resume</a></div>
    </div>
  </div>

  <div class="card">
    <div class="card_title">JASON HAENLIN</div>
    <div class="card_occupation">Student at Polytech Nice Sophia. Computer science degree.</div>
    <div class="card_text">
      Hello, my name is Jason Haenlin. Student passionate about electronics, electrical
      engineering
      especially computer science, the points that captivate me the most are object-oriented
      programming,
      web technologies and everything that goes with it like GUI, security, front & back end, I am
      particularly fond of Angular, Nodejs, Spring-boot, Flutter and also DevOps.
    </div>
    <div class="card_picture">
      <div class="clip-each border-style-gradient">
      </div>
    </div>
  </div>

  <div [@floatMovement]="state" (@floatMovement.done)="onEnd($event)" *ngIf="displayArrow"
    class="arrow" (click)="moveDown()">
  </div>
</div>
