@import '../../../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lexend+Giga&display=swap');

.background {
  max-width: 100%;
  height: calc(30em + calc(2em - 10vw));
  background: linear-gradient(hsla(203, 71%, 26%, 0.5), hsla(203, 71%, 26%, 0.5)),
    url('../../../assets/bg-prog.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
}

.title {
  color: $white;
  text-align: center;
  font-family: 'Lexend Giga', sans-serif;
  font-size: 32px;
}

.occupation {
  text-align: center;
  font-family: 'Lexend Giga', sans-serif;
  font-size: 16px;
}

.container-option {
  float: right;
  padding: 1em;
  color: $white;

  span {
    margin-right: 1em;
  }

  span:hover {
    cursor: pointer;
    color: $yellowA;
  }
}

.text {
  color: $white;
  padding: 10vw 20vw 5vw 16vw;
}

.container-info {
  padding-top: 5em;
}

.info-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 8em;
}

.menu {
  position: fixed;
  z-index: 100;
  background: hsla(206, 74%, 10%, 0.8);
  height: 100%;
  width: 100%;
}

.menu__category {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu>.container-option {
  position: absolute;
  right: 0;
  padding: 0;
  padding-top: 0.5em;
}

.menu__category>div {
  margin: 0.5em;
}

.menu__category>div:hover {
  cursor: pointer;
  color: $yellowA;

  a {
    color: $yellowA;
  }
}

a {
  text-decoration: none;
  color: $white;
}

.fa-bars {
  color: rgb(111, 134, 153);
}

@media (max-width: 580px) {
  .text {
    font-size: 15px;
    padding: 6vw 20vw 8vw 8vw;
  }
}
