@import '../../../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lexend+Giga&display=swap');

.background {
  max-width: 100%;
  height: calc(30em + calc(2em - 10vw));
  background: linear-gradient(hsla(203, 71%, 26%, 0.5), hsla(203, 71%, 26%, 0.5)),
    url('../../../assets/bg.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
}

.title {
  color: $white;
  text-align: center;
  font-family: 'Lexend Giga', sans-serif;
  font-size: 2em;
  font-size: 28px;
}

.container-option {
  float: right;
  padding: 1em;
  color: $white;

  i {
    padding-right: 1em;
  }

  i:hover {
    color: $yellowA;
    cursor: pointer;
  }
}

.text {
  color: $white;
  padding: 15vw 20vw 5vw 16vw;
}

.container-info {
  padding-top: 5em;
}

.info-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 8em;
}
