<div class="container">
  <div class="container-option">
    <!-- <i class="fas fa-download"></i> -->
    <!-- <i class="fas fa-bars"></i> -->
  </div>

  <div class="container-info">
    <div class="background"></div>

    <div class="info-title">
      <div class="title">JASON HAENLIN</div>
      <div class="occupation">Student at Polytech Nice Sophia. Computer science degree.</div>
      <div class="text">
        Hello, my name is Jason Haenlin. Student passionate about electronics, electrical
        engineering
        especially computer science, the points that captivate me the most are object-oriented
        programming,
        web technologies and everything that goes with it like GUI, security, front & back end, I am
        particularly fond of Angular 7+, Nodejs Flutter.
      </div>
    </div>

  </div>
</div>
