@import '../../../variables.scss';

$height: 50em;

.title {
  padding: 2em;
}

.content {
  margin-top: 2em;
  height: $height;
}

.content::before {
  position: absolute;
  left: 15%;
  width: 5px;
  height: $height;
  background-color: $blue2;
  content: "";
}

.ball {
  position: sticky;
  top: 50%;
  height: 3em;
  width: 3em;
  left: calc(15% - 1.5em + 2.5px);
}

.container {
  margin: -3em 5em 0 10em;
}


.container>section:nth-child(odd) {
  background-color: $yellowA;
}

.container>section:nth-child(even) {
  background-color: $redA;
}
