@import '../../../variables.scss';

$height: 50em;

.title {
  padding: 2em;
}

.content {
  margin-top: 2em;
  height: $height;
}

.content::before {
  position: absolute;
  left: 8em;
  width: 5px;
  height: $height;
  background-color: $blue2;
  content: "";
}

.ball {
  position: sticky;
  top: 50%;
  height: 3em;
  width: 3em;
  left: calc(8em - 1.5em + 2.5px);
}

.container {
  margin: -3em 5em 0 10.5em;
}


.container>section:nth-child(odd) {
  background-color: $yellowA;
}

.container>section:nth-child(even) {
  background-color: $redA;
}

@media (max-width: 900px) {
  .content::before {
    left: 3.5em;
  }

  .ball {
    left: calc(3.5em - 1.5em + 2.5px);
  }

  .container {
    margin: -3em 2em 0 5.5em;
  }
}

@media (max-width: 510px) {
  .content::before {
    left: 0;
    width: 0;
  }

  .container {
    margin: -1.5em 0.5em 0 0.5em;
  }

  .ball {
    display: none;
  }
}
