@import '../../../variables.scss';

.title {
  padding: 2em;
  font-size: 28px;
  color: $blue2;
}

.flex-container {
  display: flex;
  background-color: #eaf7ff;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  padding-bottom: 3em;
}

.hobby {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  background-color: $blue3;
}

.tag {
  text-align: center;
  padding-top: 0.5em;
}

.fas,
.fab {
  color: white;
}
