<div class="title">
  <strong>HOBBIES</strong>
</div>
<div class="flex-container">
  <div>
    <div class="hobby">
      <span class="fas fa-coffee fa-3x"></span>
    </div>
    <div class="tag">Coding</div>
  </div>
  <div>
    <div class="hobby">
      <span class="fas fa-plane fa-3x"></span>
    </div>
    <div class="tag">Traveling</div>
  </div>
  <div>
    <div class="hobby">
      <span class="fas fa-utensils fa-3x"></span>
    </div>
    <div class="tag">Cooking</div>
  </div>
  <div>
    <div class="hobby">
      <span class="fas fa-music fa-3x"></span>
    </div>
    <div class="tag">Listening</div>
  </div>
  <div>
    <div class="hobby">
      <span class="fas fa-walking fa-3x"></span>
    </div>
    <div class="tag">Walking</div>
  </div>
  <div>
    <div class="hobby">
      <span class="fas fa-gamepad fa-3x"></span>
    </div>
    <div class="tag">Gaming</div>
  </div>
  <div>
    <div class="hobby">
      <span class="fab fa-btc fa-3x"></span>
    </div>
    <div class="tag">Trading</div>
  </div>
</div>
