<div *ngIf="notif" class="header-info card">
  <div class="card__text">
    Looking for a 2-3 month internship during summer and/or an internship for the last year in GUI.
  </div>
  <div class="card__button" (click)="updateShowNotif()">
    <span class="fas fa-times fa-2x"></span>
  </div>
  <div class="card__icon">
    <div class="fas fa-exclamation fa-2x"></div>
  </div>
</div>
<div *ngIf="!notif">
  <div class="padding-around notif-open" (click)="updateShowNotif()">
    <span class="fas fa-exclamation-circle fa-2x"></span>
  </div>
</div>
