<div class="title">
  <strong>PROJECTS</strong>
</div>

<app-project-card *ngFor="let p of projects"
  [title]="p.title"
  [techno]="p.technos"
  [description]="p.description"
  [image]="p.image"
  [githubLink]="p.githubLink"
  [videoLink]="p.videoLink"
  [websiteLink]="p.websiteLink"
  [skills]="p.skills">
</app-project-card>


<!-- <app-project-card
  [title]="''"
  [techno]="''"
  [description]="'Realization of a space invader style game\n
    Mbed Compiler : C/C++ language used\n
    Hardware: Matrix leds 16*16 - Joysticks - LCD display 16*2 - 2 buttons -2 Speakers -1
    potentiometer 50Kohms'"
  [image]="'info4.jpg'"
  [githubLink]="'https://github.com/JasonHaenlin/Info2-Projet-Game'">
</app-project-card> -->

<!-- <app-project-card
  [title]="''"
  [techno]="''"
  [description]="'Project of a tricycle connected using sensors and via cloud services IBM bluemix\n
We use the DU4SmartCities on MBED to start the project.'"
  [image]="'er4.jpg'"
  [githubLink]="'https://github.com/JasonHaenlin/ER4-Kiffy-Project'">
</app-project-card> -->

<!-- <app-project-card
  [title]="''"
  [techno]="''"
  [description]="'Electrically assisted bicycle.\n
    Mbed Compiler: C/C++ language used.\n
    Quartus was used with an Altera to configure the brushless motor.'"
  [image]="'er3.jpg'"
  [githubLink]="'https://github.com/JasonHaenlin/ER3-Projet-VAE'">
</app-project-card> -->

<!-- <app-project-card
  [title]="''"
  [techno]="''"
  [description]="'Realization of an automated biomedical station\n
    Mbed Compiler : C/C++ language used\n
    Quartus: configuration of an Altera in VHDL and logical block'"
  [image]="'er2.jpg'"
  [githubLink]="'https://github.com/JasonHaenlin/ER2-Projet-CAB'">
</app-project-card> -->

<!-- <app-project-card
  [title]="''"
  [techno]="''"
  [description]="'Line following robot\n
    Mbed Compiler : C/C++ language used'"
  [image]="'er1.png'"
  [githubLink]="'https://github.com/JasonHaenlin/ER1-Projet-Robot'">
</app-project-card> -->
