<div class="title">
  <strong>QUALIFICATIONS</strong>
</div>
<div class="flex-container">
  <app-rating class="rating"
    [logo]="'angular.svg'"
    [rate]=5>
  </app-rating>
  <app-rating class="rating"
    [logo]="'nodejs.png'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'flutter.png'"
    [rate]=2>
  </app-rating>
  <app-rating class="rating"
    [logo]="'git.png'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'html.png'"
    [rate]=5>
  </app-rating>
  <app-rating class="rating"
    [logo]="'css.png'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'js.png'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'ts.png'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'jenkins.png'"
    [rate]=3>
  </app-rating>
  <app-rating class="rating"
    [logo]="'java.png'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'psql.png'"
    [rate]=3>
  </app-rating>
  <app-rating class="rating"
    [logo]="'c.png'"
    [rate]=2>
  </app-rating>
</div>
