@import '../../../variables.scss';

.title {
  padding: 2em;
  font-size: 28px;
  color: $blue2;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #eaf7ff;
}

.rating {
  // overflow: hidden;
  width: 8em;
  height: 10em;
  background-color: $blue3;
  border-radius: 4%;
  margin: 1em;
}
