@import '../../../variables.scss';

.title {
  padding: 2em;
  font-size: 28px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rating {
  overflow: hidden;
  width: 8em;
  height: 10em;
  background-color: $blueO;
  border-radius: 4%;
  margin: 1em;
}
