<div class="title">
  <strong>QUALIFICATIONS</strong>
</div>
<div class="flex-container">
  <app-rating class="rating"
    [logo]="'angular.svg'"
    [tooltip]="'Angular (TS)'"
    [rate]=5>
  </app-rating>
  <app-rating class="rating"
    [logo]="'nodejs.png'"
    [tooltip]="'NodeJS'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'spring-boot-logo.png'"
    [tooltip]="'Spring-Boot'"
    [rate]=3>
  </app-rating>
  <app-rating class="rating"
    [logo]="'flutter.png'"
    [tooltip]="'Flutter'"
    [rate]=3>
  </app-rating>
  <app-rating class="rating"
    [logo]="'git.png'"
    [tooltip]="'Git'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'html.png'"
    [tooltip]="'HTML'"
    [rate]=5>
  </app-rating>
  <app-rating class="rating"
    [logo]="'css.png'"
    [tooltip]="'CSS'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'js.png'"
    [tooltip]="'Javascript'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'ts.png'"
    [tooltip]="'Typescript'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'java.png'"
    [tooltip]="'Java'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'kafka.png'"
    [tooltip]="'Kafka'"
    [rate]=3>
  </app-rating>
  <app-rating class="rating"
    [logo]="'vue.png'"
    [tooltip]="'VueJs'"
    [rate]=3>
  </app-rating>
  <app-rating class="rating"
    [logo]="'psql.png'"
    [tooltip]="'PostGreSQL'"
    [rate]=3>
  </app-rating>
  <app-rating class="rating"
    [logo]="'c.png'"
    [tooltip]="'C'"
    [rate]=2>
  </app-rating>
</div>

<div class="title">
  <strong>TOOLS I USE</strong>
</div>
<div class="flex-container">
  <app-rating class="rating"
    [logo]="'jenkins.png'"
    [tooltip]="'Jenkins (CI)'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'sonar.png'"
    [tooltip]="'SonaQube'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'figma.png'"
    [tooltip]="'Figma (mockup)'"
    [rate]=4>
  </app-rating>
  <app-rating class="rating"
    [logo]="'datadog.png'"
    [tooltip]="'DataDog'"
    [rate]=3>
  </app-rating>
  <app-rating class="rating"
    [logo]="'snyk.png'"
    [tooltip]="'Snyk'"
    [rate]=3>
  </app-rating>
  <app-rating class="rating"
    [logo]="'vscode.png'"
    [tooltip]="'VSCode'"
    [rate]=5>
  </app-rating>
  <app-rating class="rating"
    [logo]="'zap.png'"
    [tooltip]="'OWASP ZAP'"
    [rate]=2>
  </app-rating>
  <app-rating class="rating"
    [logo]="'ubuntu-server.png'"
    [tooltip]="'Ubuntu'"
    [rate]=4>
  </app-rating>
</div>
