@import '../../../variables.scss';

circle {
  stroke: $yellowA;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dashoffset: 200;
  fill: $blue3;
}

.animate {
  animation: 1s ease-out forwards progress;
}

.flex-container>div {
  width: 15em;
  height: 15em;
}

.flag-detail {
  position: relative;
  top: -12em;
}

.flag {
  margin: 5px auto;
  display: block;
  padding: 0;
  width: 144px;
  height: 109px;
  border-radius: 4%;
}


.flag-name {
  padding-top: 1em;
  text-align: center;
}
