@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto|Shojumaru');

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

html {
  font: 500 20px/32px 'Roboto', "Helvetica Neue", sans-serif;
}
