/**
 This file contains all the variables used for styling your app.
 */
// theming

/* Color Theme Swatches in HSLA */
// $bluePrimary: hsl(208, 76%, 37%);
// $blueSecondary: hsl(207, 84%, 65%);
// $greenPrimary: hsl(79, 79%, 74%);
// $greenSecondary: hsl(66, 74%, 79%);
// $light: hsl(51, 40%, 91%);

/* Color Theme Swatches in HSLA */
$blue1: hsl(207, 74%, 14%);
$blue2: hsl(203, 71%, 26%);
$blue3: hsl(190, 50%, 43%);
$yellowA: hsl(39, 83%, 65%);
$redA: hsl(16, 76%, 42%);
$blueO: rgba(255, 255, 255, 0.1);
// utilities
$white: #FFFFFF;
$green: #10C568;
$danger:#b6403e;
$warning1:#aa3c3a;
$warning2:#7c2d2c;
$success1: #3c803d;
$success2: #224923;
